.card_list{
    width: 1200px;
    margin: auto;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(3 ,380px);
    gap: 20px;
}

.carda1{
    width: 380px;
}
.sab{
    width: 1200px;
    height: 50px;
    margin: auto;
    margin-top: 3%;
    background-color: #EFBA542E;
    display: flex;
    align-items: center;
    gap: 20%;
    justify-content: space-around;
}
.yjea{
    display: flex;
    align-items: center;
}
.btnadq{
    width: 200px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: white;
    background: linear-gradient(to right, #FE5C28 , #FF8B36E5);
}
.fa-regular{
    font-size: 1.7em;
    color:#FE5C28 ;
}